/*###### GLOBAL #######*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}


body{

	background-image: url("../media/background/cool-background.png");
	background-size: cover;

	position: relative;

    
    min-height: 100vh;
}


/*###### HEADER/NAVBAR #######*/

.navbar-custom {
	background: rgb(255,255,255);
	background: linear-gradient(177deg, rgba(255,255,255,1) 0%, rgba(0,123,255,1) 100%);
}


.logo-img {
	border-radius: 50%;
	width: 40px;
	margin-right: 10px;
}


/*###### MAIN #######*/



main {
	padding: 30px 10px;

}


/*###### SECTION 1 #######*/

.section-1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video {
	margin-bottom: 20px;
	width: 560px;
	height: 315px;
	border: 0;
}


.section-1 p {
	width: 80%;
	text-align: center;
	margin-bottom: 20px;
}


/*###### SECTION 2 #######*/


.section-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 30px;
	height: 300px;
}


/*###### SECTION 2/ IMAGENES #######*/

.img-gallery {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
}


.central {
	width: 50%;
	height: 200px;
	position: absolute;
	left: 25%;
	z-index: 1;
	object-fit: cover;

	animation-name: slide_central;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

.derecha {
	position: absolute;
	right: 0%;
	width: 35%;
    height: 150px;
    top: 12.5%;
    object-fit: cover;

    animation-name: slide_derecha;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

.izquierda {
	position: absolute;
	left: 0%;
	width: 35%;
    height: 150px;
    top: 12.5%;
   	object-fit: cover;

   	animation-name: slide_izquierda;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}


/*###### FOOTER #######*/

.footer {
	position: absolute;
	bottom: 0;

	display: flex;
	flex-direction: row;

	align-items: center;

	height: 105px;


	background: url(../media/fotos/footer_pic_reducida.jpg);
	background-size: contain;

	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}


.footer a {
	margin-right:10px;
}

.footer a img {
	height: 30px;
	width: 30px;
}


/*###### GALLERY #######*/
.gallery {
	display: grid;
	grid-template-columns: repeat(2,2fr);
	grid-template-rows: repeat(2,260px);
	grid-gap: 15px;

	height: 650px;
}

.img_gallery {
	width: 100%;
	height: 260px;
	object-fit: cover;
}


/*###### SOBRE MI #######*/


.bio{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.img_bio{
	height: 360px;
	object-fit: scale-down;
}

.bio_text h2 {
	margin: 0px 0px 20px 20px;
}


.bio_text p {
	margin-left: 20px;
}


/*###### SERVICIOS #######*/

.dron{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}


.img_dron{
	height: 360px;
	margin-bottom: 20px;
	object-fit: scale-down;
}


.dron_text h2 {
	margin: 0px 0px 20px 20px;
}


.dron_text p {
	width: 90%;
	margin-left: 20px;
}


/*###### CONTACTO #######*/

form h1 {
	margin: 0px 40px;
}

.contacto {
	margin: 0px 40px;
	list-style-type: none;
}


label {
	/*Text*/
	font-size: 17px;
	font-weight: 500;
	color: #ffffff;
}

.boton {
	background-color: #2377db;

	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;


	/*Border*/
	border: 2px solid #2377db;

	transition-duration: 0.4s;

	border-radius: 5px;

}

.boton:hover{
	background-color: #FFFFFF;
	color: #2377db;
}



/*###### HEADER/NAVBAR ---> MOBILE #######*/

@media (min-width: 0px) and (max-width: 767px){



	/*###### SECTION 1 #######*/
	
	.video {
		margin-bottom: 20px;
		width: 95%;
		height: 220px;
		border: 0;
	}

	.section-1 p {
		width: 90%;
		text-align: center;
		margin-bottom: 20px;
	}

	/*###### SECTION 2 #######*/


	.section-2 {
		display: flex;
		flex-direction: column;

		height: 400px;
	}

	.title {
		text-align: center;
	}


	/*###### SECTION 2/ IMAGENES #######*/

	.img-gallery {

		position: relative;
		margin-top: 10px;
		margin-right: 0px;
		height: 200px;
	}


	.central {
		width: 50%;
		height: 200px;
		position: absolute;
		left: 25%;
		z-index: 1;
		object-fit: cover;
	}

	.derecha {
		position: absolute;
		right: 0%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	    object-fit: cover;
	}

	.izquierda {
		position: absolute;
		left: 0%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	   	object-fit: cover;
	}



	/*###### FOOTER #######*/

	.footer {
		height:85px;
		background-size: cover;
		justify-content: flex-start;
		padding-left: 10px;
	}

	.footer a {
		margin-right: 20px;
	}


	/*###### GALLERY #######*/

	.gallery {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4,210px);
		height: 985px;
	}

	.img_gallery {
		height: 210px;
	}



	/*###### SERVICIOS #######*/

	.dron{
		display:flex;
		flex-direction: column;
		height:785px;
	}


	.img_dron{
		width: 100%;
		height: 255px;
		margin-bottom: 10px;
	}


	.dron_text h2 {
		margin: 0 10px;
	}


	.dron_text p {
		margin-left: 20px;
	}
	/*###### SOBRE MI #######*/


	.bio{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.img_bio{
		width: 100%;
		height: 255px;
	}

	.bio_text h2 {
		margin: 0;
	}


	.bio_text p {
		margin-left: 10px;
	}

	/*###### CONTACTO #######*/

	form {
		height: 600px;
	}

	form h1 {
	margin: 10px 10px;
	}

	.contacto {
		margin: 10px 10px;
	}

	.textarea{
		width: 100%;
	}
} 



@keyframes slide_central {

	0% {
		width: 50%;
		height: 200px;
		left: 25%;
		z-index: 1;
		object-fit: cover;
		top: 0%;
	}

	25% {
		left: 65%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	    object-fit: cover;
	}


	50% {
		position: absolute;
		left: 0%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	   	object-fit: cover;
	}

	
	100% {
		width: 50%;
		height: 200px;
		position: absolute;
		left: 25%;
		top: 0%;
		z-index: 1;
		object-fit: cover;
	}
}


@keyframes slide_derecha {

	0% {
		position: absolute;
		right: 0%;
		width: 35%;
		height: 150px;
		top: 12.5%;
		object-fit: cover;
	}

	25% {
		position: absolute;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
		right: 65%;
		z-index: 1;
		object-fit: cover;
	}


	50% {
		width: 50%;
		height: 200px;
		right: 25%;
		top: 0%;
		z-index: 2;
		object-fit: cover;
	}

	
	100% {
		position: absolute;
		right: 0%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	    object-fit: cover;
	}
}


@keyframes slide_izquierda {

	0% {
		position: absolute;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
		left: 0%;
		object-fit: cover;
	}

	25% {
		width: 50%;
		height: 200px;
		left: 25%;
		top: 0%;
		z-index: 1;
		object-fit: cover;
	}


	50% {
		position: absolute;
		left: 65%;
		width: 35%;
		height: 150px;
		top: 12.5%;
		object-fit: cover;
	}

	
	100% {
		position: absolute;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
		right: 65%;
		object-fit: cover;
	}
}