


.bio{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.img_bio{
	height: 360px;
	object-fit: scale-down;
}

.bio_text {
	h2{
		margin: 0px 0px 20px 20px;
	}

	p {
		margin-left: 20px;
	}
}


/*###### RESPONSIVE - SOBRE MI #######*/

@media (min-width: 0px) and (max-width: 767px){
	.bio{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 250px 1fr;
		height: 590px;
	}

	.img_bio{
		width: 100%;
		height: 250px;
	}

	.bio_text {
		h2 {
			margin: 5px;
		}
		p {
			margin-left: 10px;
		}
	}

}