/*###### SECTION 1 #######*/

.section-1{
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		width: 80%;
		text-align: center;
		margin-bottom: 20px;
	}
}



.video {
	margin-bottom: 20px;
	width: 560px;
	height: 315px;
	border: 0;
}

.text {
	color: #FFFFFF;
	font-size: 18px;
}

.title {
	@extend .text;
	font-size: 30px;

	&:hover{
		color: #FFFFFF;
	}
}

.text--gallery {
	@extend .text
}


/*###### SECTION 2 #######*/


.section-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 30px;
	height: 300px;
}

.title{
	

	&:hover {
		color: #FFFFFF;
	}
}




/*###### SECTION 2/ IMAGENES #######*/

.img-gallery {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
}

@mixin images($width,$height,$left,$top,$zindex,$animation){
	position: absolute;
	width: $width;
	height: $height;
	left: $left;
	top: $top;
	z-index: $zindex;

	object-fit: cover;

	animation-name: $animation;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}


.central {
	@include images(50%,200px,25%,0%,1,slide_central);

}

.derecha {
	@include images(35%,150px,65%,12.5%,0,slide_derecha);
}

.izquierda {

	@include images(35%,150px,0%,12.5%,0,slide_izquierda);

}


/*###### RESPONSIVE - INDEX #######*/

@media (min-width: 0px) and (max-width: 767px) {
	/*###### SECTION 1 #######*/
	
	.video {
		margin-bottom: 20px;
		width: 95%;
		height: 220px;
		border: 0;
	}

	.section-1 p {
		width: 90%;
		text-align: center;
		margin-bottom: 20px;
	}

	/*###### SECTION 2 #######*/


	.section-2 {
		display: flex;
		flex-direction: column;

		height: 400px;
	}

	.title {
		text-align: center;
	}


	/*###### SECTION 2/ IMAGENES #######*/

	.img-gallery {

		position: relative;
		margin-top: 10px;
		margin-right: 0px;
		height: 200px;
	}

}




/*###### ANIMTION #######*/

@keyframes slide_central {



	0% {

		width: 50%;
		height: 200px;
		left: 25%;
		z-index: 1;
		object-fit: cover;
		top: 0%;
	}

	25% {
		left: 65%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	    object-fit: cover;
	}


	50% {
		position: absolute;
		left: 0%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	   	object-fit: cover;
	}

	
	100% {
		width: 50%;
		height: 200px;
		position: absolute;
		left: 25%;
		top: 0%;
		z-index: 1;
		object-fit: cover;
	}
}


@keyframes slide_derecha {

	0% {
		position: absolute;
		left: 65%;
		width: 35%;
		height: 150px;
		top: 12.5%;
		object-fit: cover;
	}

	25% {
		position: absolute;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
		left: 0%;
		z-index: 1;
		object-fit: cover;
	}


	50% {
		width: 50%;
		height: 200px;
		left: 25%;
		top: 0%;
		z-index: 2;
		object-fit: cover;
	}

	
	100% {
		position: absolute;
		left: 65%;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
	    object-fit: cover;
	}
}


@keyframes slide_izquierda {

	0% {
		position: absolute;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
		left: 0%;
		object-fit: cover;
	}

	25% {
		width: 50%;
		height: 200px;
		left: 25%;
		top: 0%;
		z-index: 1;
		object-fit: cover;
	}


	50% {
		position: absolute;
		left: 65%;
		width: 35%;
		height: 150px;
		top: 12.5%;
		object-fit: cover;
	}

	
	100% {
		position: absolute;
		width: 35%;
	    height: 150px;
	    top: 12.5%;
		right: 65%;
		object-fit: cover;
	}
}